[defaults]
inventory          = inventory
roles_path         = roles
retry_files_enabled = false
stdout_callback    = default
result_format      = yaml
interpreter_python = /usr/bin/python3
collections_paths  = ~/.ansible/collections
inject_facts_as_vars = false

[connection]
pipelining = false
