alias s='sudo'
alias KB='cd ~/Dropbox/Documents/KB/'
alias p3='python3'
alias upgr='echo "Updating Homebrew..." && brew update && \
echo "Upgrading installed formulae..." && brew upgrade && \
echo "Upgrading installed casks..." && brew upgrade --cask && \
echo "Removing outdated packages..." && /opt/homebrew/bin/brew autoremove && \
echo "Cleaning up old versions..." && brew cleanup && \
echo "Checking for any potential issues..." && brew doctor'

alias x=exit
alias k=kubectl
alias m=minikube
complete -F __start_kubectl k

# Git aliases
alias gs='git status'
alias gc='git commit'
alias gp=''
#alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
